{
  "presets": ["@babel/preset-typescript", "@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": false,
        "regenerator": true,
        "useESModules": true
      }
    ]
  ],
  "env": {
    "functions": {
      "presets": [["@babel/preset-env", { "targets": { "node": "8.10" } }]]
    }
  }
}
