<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <head>
    {{ block "meta" . }}
      {{ partial "site/meta.html" . }}
    {{ end }}

    <title>
      {{ block "title" . }}
        {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}
      {{ end }}
    </title>

    {{ range .AlternativeOutputFormats }}
      <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end }}

    {{ partial "site/assets.html" . }}

    {{ partial "site/styles.html" . }}
    {{ partial "site/scripts-head.html" . }}
  </head>
  <body class="font-sans">
    {{ block "header" . }}
      {{ partial "site/header.html" . }}
    {{ end }}
    
    <main class="site-main z-0" role="main">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}
      {{ partial "site/footer.html" . }}
    {{ end }}

    {{ partial "site/scripts.html" . }}
  </body>
</html>