{{ define "main" }}
<article class="about my-12 mx-auto w-full p-8 max-w-4xl">
  <h1 class="page-title">{{ .Title }}</h1>

  <div class="flex flex-row flex-wrap pb-8">
    <div class="content w-full sm:w-1/2 pb-8 sm:pl-4">
      {{ .Content }}
    </div>
    {{ with .Params.image }}
      <div class="w-full sm:w-1/2 sm:pr-4 sm:order-first">
        {{ $base := $.Site.Params.cloudinaryBase }}
        {{ $src := print $base "w_700/" . }}
        <img src="{{ $src }}" alt="">
      </div>
    {{ end }}
  </div>

  <div class="flex justify-center items-center">
    {{ with .Params.link }}
      <a class="link-button" href="{{ .url }}">{{ .text }}</a>
    {{ end }}
  </div>
</article>
{{ end }}