{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "post-header" }}
  {{ with .Params.backgroundImage }}
    {{ $base := $.Site.Params.cloudinaryBase }}
    {{ $src := . }}
    <div
      role="banner"
      class="jumbotron flex justify-center items-center w-screen bg-center bg-cover"
    >
      <div class="jumbotron-image-container">
        <picture>
          <source data-srcset="{{ print $base "f_auto,c_fill,g_center,w_3000/" $src }}" media="(min-width: 1280px) and ((-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi))" />
          <source data-srcset="{{ print $base "f_auto,c_fill,g_center,w_1500/" $src }}" media="(min-width: 1280px)" />
          <source data-srcset="{{ print $base "f_auto,c_fill,g_center,w_2560/" $src }}" media="(min-width: 1024px) and ((-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi))" />
          <source data-srcset="{{ print $base "f_auto,c_fill,g_center,w_1280/" $src }}" media="(min-width: 1024px)" />
          <source data-srcset="{{ print $base "f_auto,c_fill,g_center,w_2048/" $src }}" media="(min-width: 768px) and ((-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi))" />
          <source data-srcset="{{ print $base "f_auto,c_fill,g_center,w_1024/" $src }}" media="(min-width: 768px)" />
          <source data-srcset="{{ print $base "f_auto,c_fill,g_center,w_1536/" $src }}" media="(min-width: 640px) and ((-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi))" />
          <source data-srcset="{{ print $base "f_auto,c_fill,g_center,w_768/" $src }}" media="(min-width: 640px)" />
          <source data-srcset="{{ print $base "f_auto,c_fill,g_center,h_1640,w_640/" $src }}" media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)" />
          <source data-srcset="{{ print $base "f_auto,c_fill,g_center,h_820,w_320/" $src }}" />
          <img class="lazyload jumbotron-image w-screen object-center object-cover" src="{{ print $base "f_auto,c_scale,w_200/" $src }}" data-src="{{ print $base "f_auto,c_fill,g_center,w_3000/" $src }}" alt="" />
        </picture>
      </div>
      <div class="jumbotron-logotype absolute w-1/2 md:w-1/4 text-white fill-current">
        {{ partial "site/logotype.svg" . }}
      </div>
    </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ $bundle := $.Site.GetPage "landing" }}
  {{ $topics := $bundle.Resources.GetMatch "topics*" }}
  {{ $services := $bundle.Resources.Match "service-*" }}
  {{ $abouts := $bundle.Resources.Match "about-*" }}
  {{ $testimonials := $bundle.Resources.GetMatch "testimonials*" }}

  {{ with $topics }}
  <section class="landing-section section-topics w-full max-w-6xl mx-auto my-16 px-8">
    <div class="topics">
      {{ .Content }}
    </div>
  </section>  
  {{ end }}
  
  <section class="landing-section w-full mx-auto mb-32 mt-16 md:mt-0">
    <div class="section-services w-full">
      {{ $idx := 0 }}
      {{ range sort $services "Title" "desc" }}
        {{ $order := cond (modBool $idx 2) "order-first" "order-last" }}
        {{ $idx = add $idx 1 }}
        <div class="section-service flex flex-wrap items-center opacity-0" data-once-enter="animated fadeIn">
          <div class="section-image simple-slide relative w-full p-8 md:w-1/2 {{ $order }}" data-interval="7500">
            {{ $base := print $.Site.Params.cloudinaryBase "f_auto,c_fill,g_center,w_500,h_500/" }}
            {{ range $idx, $img := .Params.images }}
              <img data-src="{{ print $base $img }}" class="lazyload object-center object-cover w-full md:h-auto {{ cond (gt $idx 0) "hidden" ""}}" alt="" width="500" height="500" />
            {{ end }}
          </div>

          <div class="section-content w-full md:w-1/2 p-8">
            <div class="max-w-lg mx-auto">
              <h2 class="mb-8 font-display font-bold text-xl text-center uppercase tracking-wider">{{ .Title }}</h2>
              <div class="content text-base leading-snug">
                {{ .Content }}
                {{ $title := .Title }}
                {{ with .Params.link }}
                  <p class="text-center mt-8"><a href="{{ . }}" class="link-button">Läs mer om {{ $title }}</a></p>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </section>

  {{ with $testimonials }}
  <section class="landing-section section-testimonials mb-24 px-12 py-24 w-full bg-tinted text-black overflow-x-hidden opacity-0" data-once-enter="animated fadeIn">
    <div class="testimonials relative w-full max-w-4xl mx-auto">
      {{ .Content }}
    </div>
  </section>
  {{ end }}

  {{ range $abouts }}
    <section class="landing-section section-about mb-32 w-full p-8 mx-auto">
      <div class="flex flex-wrap items-center">
        {{ with .Params.video }}
          {{ $base := replaceRE "image" "video" $.Site.Params.cloudinaryBase }}
          {{ $src := print $base "ac_none,vc_auto,w_650/" . }}
          {{ $webm := replaceRE "(\\.\\w+)$" ".webm" $src }}

          <div class="w-full md:w-1/2 mb-8 md:mb-0 opacity-0" data-once-enter="animated fadeInUp">
            <video autoplay loop muted playsinline>
              <source src="{{ $webm }}" type="video/webm">
              <source src="{{ $src }}" type="video/mp4">
            </video>
          </div>
        {{ end }}
        
        <div class="section-content w-full md:w-1/2 max-w-lg mx-auto opacity-0 delay" data-once-enter="animated fadeInUp">
          <h2 class="mb-8 font-display font-bold text-xl text-center uppercase tracking-wider">{{ .Title }}</h2>
          <div class="content text-base leading-snug">
            {{ .Content }}
            {{ with .Params.link }}
              <p class="text-center mt-8"><a href="{{ . }}" class="link-button">Läs mer om oss</a></p>
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
