/*! purgecss start ignore */
.page-title {
  @apply relative font-display font-bold text-4xl text-center uppercase;
  margin-bottom: calc(theme('spacing.24') + theme('spacing.4'));
}

.page-title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: calc(50% - 3px / 2);
  width: 3px;
  height: theme('spacing.24');
  background-color: currentColor;
}

.content > * {
  @apply max-w-2xl mx-auto mb-4 px-4;
}

.content > *:last-child {
  @apply mb-0;
}

.content a {
  @apply text-black underline;
  transition: color 0.3s ease-in-out;
}

.content a:hover {
  @apply text-gray-600 no-underline;
}

.content > ul {
  @apply list-disc;
}

.content > h3 {
  @apply mb-3 font-display font-bold text-lg text-left uppercase tracking-wider;
}
/*! purgecss end ignore */