.jumbotron, .jumbotron-image {
  /* width: 100vw; */
  height: calc(100vh - theme('spacing.16'))
}

.jumbotron-image-container {
  overflow: hidden;
}

.jumbotron-image {
  transform: scale(1.1);
  filter: blur(10px);
  transition: filter 3s ease-in-out;
}

.jumbotron-image.lazyloaded {
  filter: blur(0);
}
