.section-title {
  @apply mb-8 font-display font-bold text-xl text-center uppercase tracking-wider;
}

.topics h2 {
  @apply font-bold text-xl uppercase text-center mb-8;
}

.topics ul {
  @apply flex flex-wrap justify-between items-start w-full font-display uppercase;
}

.topics li {
  @apply w-1/2;
}

.topics li a {
  @apply flex flex-col justify-center items-center mb-8 text-sm text-center;
}

.topics .icon {
  @apply text-3xl mb-4;
}

@screen sm {
  .topics li {
    @apply w-1/4 mb-0 text-base;
  }
}

.section-testimonials {
  background-image: url('https://res.cloudinary.com/adambrgmn/image/upload/v1569782022/ia-event/quotes.svg');
  background-position: 2rem center;
  background-repeat: no-repeat;
  background-size: 25%;
}

@screen sm {
  .section-testimonials {
    background-size: 10%;
  }
}

.testimonials > *:not(blockquote) {
  @apply hidden;
}

.testimonials > blockquote {
  @apply font-serif italic;
}

.testimonials > blockquote em {
  @apply block mt-4 font-serif italic;
}
