.landing-section {
  position: relative;
}

.landing-section::after {
  content: '';
  position: absolute;
  bottom: calc((theme('spacing.16') * -1) + 3px);
  left: 50%;
  width: 5rem;
  height: 6px;
  background-color: theme('colors.gray.200');
  transform: translateX(-50%);
}

@screen md {
  .section-services .section-service:nth-child(2n) .section-content {
    order: 1;
  }

  .section-services .section-service:nth-child(2n) .section-image {
    order: 2;
  }
}
