a.link-button {
  @apply inline-block mx-auto border-2 border-black p-4 bg-white no-underline;
  transform: translateY(0px);
  transition: transform 0.3s ease-in-out;
}

a.link-button:hover,
a.link-button:focus {
  @apply text-black;
  transform: translateY(-2px);
}

a.link-button.inverted {
  @apply border-white bg-black text-white;
}
