.services-grid {
  @apply max-w-4xl mx-auto px-4;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: theme('spacing.4');
  grid-row-gap: theme('spacing.4');
}

.services-grid > * {
  padding-top: 33%;
}

.services-list-link {
  background: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  transition: all 0.3s ease-in-out;
}

.services-list-link:hover {
  background: rgb(255, 255, 255, 0);
  backdrop-filter: blur(0px);
}

.services-list-link span {
  @apply p-4 font-display font-bold text-lg text-center uppercase;
}

.services-list-link:hover span {
  @apply bg-white;
}

@screen sm {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-grid > * {
    padding-top: 100%;
  }

  .services-grid > *:last-child {
    grid-column: 1 / -1;
    padding-top: 50%;
  }
}
