{{ define "main" }}
<section class="mt-12 mx-auto w-full">
  <h1 class="page-title text-3xl sm:text-4xl">{{ .Title }}</h1>

  <div class="content mb-8">
    {{ .Content }}
  </div>
</section>

<ul class="solutions-grid">
  {{ range .Paginator.Pages }}
  {{ $base := $.Site.Params.cloudinaryBase }}
  {{ $src := print $base "f_auto,w_350/" .Params.featuredImage }}
  <li class="relative bg-cover bg-center" style="background-image: url({{ $src }});">
    <article class="absolute inset-0 flex items-center justify-center">
      <h2>
        <a href="{{ .Permalink }}" class="bg-white p-4 font-display font-bold text-lg sm:text-sm text-center uppercase">
          {{ .Title }}
        </a>
      </h2>
    </article>
  </li>
  {{ end }}
</ul>
{{ end }}
