{{ define "main" }}
<article class="mt-12 mx-auto w-full">
  <h1 class="page-title text-2xl sm:text-4xl">{{ .Title }}</h1>

  <div class="content mb-8">
    {{ .Content }}
  </div>

  <footer class="w-full max-w-4xl m-auto p-8">
    <div class="flex flex-wrap">
      {{ $class := "font-display font-bold text-lg"}}
      {{ $type := .Type }}
      {{ with .Prev }}
        {{ if eq .Type $type }}
          <a href="{{ .Permalink }}" class="{{ $class }}">
            <span class="icon baseline">{{ partial "site/icons.svg" "arrow-left" }}</span>
            {{ .Title }}
          </a>
        {{ end }}
      {{ end }}
          
      {{ with .Next }}
        {{ if eq .Type $type }}
          <a href="{{ .Permalink }}" class="ml-auto {{ $class }}">
            {{ .Title }}
            <span class="icon baseline">{{ partial "site/icons.svg" "arrow-right" }}</span>
          </a>
        {{ end }}
      {{ end }}
    </div>
  </footer>
</article>
{{ end }}