{{/*
  Usage:
  {{ < card-list >}}
{{ < card title="The First Title" image="cloudinary-image" >}}
Content of first card
{{ < /card >}}
{{ < card title="The Second Title" image="cloudinary-image" >}}
Content of second card
{{ < /card >}}
{{ < /card-list > }}
*/}}

{{ $title := .Get "title" }}
{{ $imageBase := $.Site.Params.cloudinaryBase }}

{{ $columns := "even" }}

{{ with.Parent }}
{{ with .Get "columns" }}{{ $columns = . }}{{ end }}
{{ end }}

{{ $columnWidth := cond (eq $columns "even") "w-1/2 md:w-1/4" "w-full md:w-1/3" }}

<div class="card {{ $columnWidth }} items-stretch p-4">
  {{ with .Get "image" }}
    <img class="lazyload card-image w-full mb-4 pt-4" src="{{ print $imageBase "f_auto,c_fill,g_center,w_250,ar_3:4/" . }}" alt="" />
  {{ end }}
  <div class="card-body text-sm">
    <h4 class="card-title font-display font-bold text-center uppercase text-sm mb-4 leading-none">{{ $title }}</h4>
    <div class="card-text leading-normal hyphens-auto">{{- .Inner | markdownify -}}</div>
  </div>
</div>
