<form class="request-form w-full max-w-full mt-12 flex flex-row justify-center items-stretch px-0" name="estimate-request" method="POST" action="/meddelande-mottaget" data-netlify="true" netlify-honeypot="bot-field">
  <div class="hidden md:block w-1/2">
    <img class="w-full h-full object-cover" src="https://res.cloudinary.com/adambrgmn/image/upload/f_auto,c_scale,w_650/v1569752780/ia-event/Nyloggatillkontakt.png" alt="">
  </div>
  <div class="flex flex-col items-stretch justify-center w-full max-w-2xl md:w-1/2 p-8 bg-black">
    <div>
      <p class="hidden">
        <label>Fyll inte i det här om du är en människa: <input name="bot-field" /></label>
      </p>

      <p class="pb-8 text-sm opacity-50">Markerade fält (*) är obligatoriska</p>

      <div class="input-group">
        <label class="input-label" for="contact-name">
          <span class="input-label-text">Ditt namn*</span>
          <input class="input" type="text" id="contact-name" name="name" required>
        </label>

        <label class="input-label" for="contact-email">
          <span class="input-label-text">Din mailadress*</span>
          <input class="input" type="mail" id="contact-email" name="email" required>
        </label>

        <label class="input-label" for="contact-phone">
          <span class="input-label-text">Ditt telefonnummer*</span>
          <input class="input" type="tel" id="contact-phone" name="phone" required>
        </label>
      </div>

      <div class="input-group">
        <label class="input-label" for="contact-partner-name">
          <span class="input-label-text">Din partners namn</span>
          <input class="input" type="text" id="contact-partner-name" name="partner-name" required>
        </label>
      </div>

      <div class="input-group">
        <label class="input-label" for="contact-participants">
          <span class="input-label-text">Ungefärligt antal gäster*</span>
          <input class="input" type="number" id="contact-participants" name="participants" required>
        </label>

        <label class="input-label" for="contact-date">
          <span class="input-label-text">Förväntat bröllopsdatum*</span>
          <input class="input" type="date" id="contact-date" name="date" placeholder="åååå-mm-dd" pattern="\d{4}-\d{2}-\d{2}" required>
        </label>
      </div>

      <div class="input-group">
        <label class="input-label" for="contact-message">
          <span class="input-label-text">Vad önskar ni hjälp med?</span>
          <textarea class="textarea" id="contact-message" name="message"></textarea>
        </label>
      </div>

      <div class="input-group">
        <label class="input-label" for="contact-contact-date">
          <span class="input-label-text">Dag som passar för samtal</span>
          <input class="input" type="text" id="contact-contact-date" name="contact-date">
        </label>
      </div>

      <div class="input-group justify-center">
        <button class="submit-button inverted" type="submit">Skicka förfrågan</button>
      </div>
    </div>
  </div>
</form>